{
  "openapi": "3.0.0",
  "info": {
    "title": "Regrid OpenAPI Specification",
    "version": "2.0.0",
    "description": "Integrate Regrid's parcel data in your tech stack with over 156M parcels records with associated spatial and tabular data including over 120 fields."
  },
  "externalDocs": {
    "description": "Regrid Parcel documentation and extended examples",
    "url": "https://support.regrid.com/api"
  },
  "servers": [
    {
      "url": "https://app.regrid.com/api/v2",
      "description": "Regrid API server"
    }
  ],
  "security": [
    {
      "APIKeyQueryParam": []
    }
  ],
  "paths": {
    "/parcels/point": {
      "get": {
        "tags": [
          "Search by"
        ],
        "summary": "Point - Latitude and Longitude",
        "description": "This endpoint delivers parcels using latitude and longitude points. You can add a radius zone to the point or points and limit the amount of parcels returned in the response. Parameter 'geojson' takes priority if Lat/Lon is used in same request. This endpoint allows access to test all of our premium matched datasets. **Attention API Trial Token Users:** Data is restricted to 7 counties. Please only use data from one of the restricted counties.",
        "parameters": [
          {
            "name": "lon",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Longitude point",
            "example": "-96.563861"
          },
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Latitude point",
            "example": "32.834967"
          },
          {
            "name": "radius",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "(Default: 0, Maximum: 32000) Radius in meters for which all Parcel records will be returned if they are within the radius zone from latitude and longitude point.",
            "example": 100
          },
          {
            "name": "geojson",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Geographic data structure for Point and MultiPoint only. This parameter takes priority if Lat/Lon is used in same request",
            "example": "{\"type\":\"Feature\",\"geometry\":{\"coordinates\":[-96.563861, 32.834967],\"type\":\"Point\"}}"
          },
          {
            "name": "offset_id",
            "in": "query",
            "description": "ID from a previous query exceeding the limit, returns the next set of results up to limit.",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": "12345"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of Parcel Records to return.",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 5
          },
          {
            "name": "return_count",
            "in": "query",
            "description": "Set to true to enable count of parcels in query.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_geometry",
            "in": "query",
            "description": "Default true. A features are returned without geometry values.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_custom",
            "in": "query",
            "description": "Default false: A true value allows county-specific fields to be passed through beyond standard schema fields only.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_field_labels",
            "in": "query",
            "description": "Default false: A true value shows the naming convention for each standardized schema field.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_stacked",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Default true: A false value returns the first parcel if geometries are identical."
          },
          {
            "name": "return_zoning",
            "in": "query",
            "description": "Set to false to disable zoning data in the response. Default is true when supported by the account.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_matched_buildings",
            "in": "query",
            "description": "Set to false to disable building footprint data in the response. Default is true when supported by the account.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_matched_addresses",
            "in": "query",
            "description": "Set to false to matched addresses data in the response. Default is true when supported by the account.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_enhanced_ownership",
            "in": "query",
            "description": "Set to false to disable enhanced ownership data in the response. Default is true when supported by the account.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of parcel features. When supported by the account with buildings array and addresses property",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "properties": {
                        "parcels": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "FeatureCollection"
                            },
                            "features": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "example": "Feature"
                                  },
                                  "geometry": {
                                    "allOf": [
                                      {
                                        "nullable": true
                                      },
                                      {
                                        "anyOf": [
                                          {
                                            "description": "GeoJSon geometry",
                                            "externalDocs": {
                                              "url": "https://tools.ietf.org/html/rfc7946#section-3.1.6"
                                            },
                                            "allOf": [
                                              {
                                                "description": "Abstract type for all GeoJSon 'Geometry' object the type of which is not 'GeometryCollection'\n",
                                                "externalDocs": {
                                                  "url": "https://tools.ietf.org/html/rfc7946#section-3"
                                                },
                                                "allOf": [
                                                  {
                                                    "description": "Abstract type for all GeoJSon object except Feature and FeatureCollection\n",
                                                    "externalDocs": {
                                                      "url": "https://tools.ietf.org/html/rfc7946#section-3"
                                                    },
                                                    "allOf": [
                                                      {
                                                        "description": "GeoJSon object\nThe coordinate reference system for all GeoJSON coordinates is a geographic coordinate reference system, using the World Geodetic System 1984 (WGS 84) datum, with longitude and latitude units of decimal degrees. This is equivalent to the coordinate reference system identified by the Open Geospatial Consortium (OGC) URN An OPTIONAL third-position element SHALL be the height in meters above or below the WGS 84 reference ellipsoid. In the absence of elevation values, applications sensitive to height or depth SHOULD interpret positions as being at local ground or sea level.\n",
                                                        "externalDocs": {
                                                          "url": "https://tools.ietf.org/html/rfc7946#section-3"
                                                        },
                                                        "type": "object",
                                                        "properties": {
                                                          "type": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Feature",
                                                              "FeatureCollection",
                                                              "Point",
                                                              "MultiPoint",
                                                              "LineString",
                                                              "MultiLineString",
                                                              "Polygon",
                                                              "MultiPolygon",
                                                              "GeometryCollection"
                                                            ]
                                                          },
                                                          "bbox": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "number"
                                                            }
                                                          }
                                                        },
                                                        "required": [
                                                          "type"
                                                        ],
                                                        "discriminator": {
                                                          "propertyName": "type"
                                                        }
                                                      },
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "type": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Point",
                                                              "MultiPoint",
                                                              "LineString",
                                                              "MultiLineString",
                                                              "Polygon",
                                                              "MultiPolygon",
                                                              "GeometryCollection"
                                                            ]
                                                          }
                                                        },
                                                        "required": [
                                                          "type"
                                                        ],
                                                        "discriminator": {
                                                          "propertyName": "type"
                                                        }
                                                      }
                                                    ]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "type": {
                                                        "type": "string",
                                                        "enum": [
                                                          "Point",
                                                          "MultiPoint",
                                                          "LineString",
                                                          "MultiLineString",
                                                          "Polygon",
                                                          "MultiPolygon"
                                                        ]
                                                      }
                                                    },
                                                    "required": [
                                                      "type"
                                                    ],
                                                    "discriminator": {
                                                      "propertyName": "type"
                                                    }
                                                  }
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "required": [
                                                  "coordinates"
                                                ],
                                                "properties": {
                                                  "coordinates": {
                                                    "type": "array",
                                                    "items": {
                                                      "description": "A linear ring is a closed LineString with four or more positions.\nThe first and last positions are equivalent, and they MUST contain identical values; their representation SHOULD also be identical.\nA linear ring is the boundary of a surface or the boundary of a hole in a surface.\nA linear ring MUST follow the right-hand rule with respect to the area it bounds, i.e., exterior rings are counterclockwise, and holes are clockwise.\n",
                                                      "externalDocs": {
                                                        "url": "https://tools.ietf.org/html/rfc7946#section-3.1.6"
                                                      },
                                                      "type": "array",
                                                      "items": {
                                                        "description": "GeoJSon fundamental geometry construct.\nA position is an array of numbers. There MUST be two or more elements. The first two elements are longitude and latitude, or easting and northing, precisely in that order and using decimal numbers. Altitude or elevation MAY be included as an optional third element.\nImplementations SHOULD NOT extend positions beyond three elements because the semantics of extra elements are unspecified and ambiguous. Historically, some implementations have used a fourth element to carry a linear referencing measure (sometimes denoted as \"M\") or a numerical timestamp, but in most situations a parser will not be able to properly interpret these values. The interpretation and meaning of additional elements is beyond the scope of this specification, and additional elements MAY be ignored by parsers.\n",
                                                        "externalDocs": {
                                                          "url": "https://tools.ietf.org/html/rfc7946#section-3.1.1"
                                                        },
                                                        "type": "array",
                                                        "minItems": 2,
                                                        "maxItems": 3,
                                                        "items": {
                                                          "type": "number"
                                                        }
                                                      },
                                                      "minItems": 4
                                                    }
                                                  }
                                                }
                                              }
                                            ]
                                          },
                                          {
                                            "description": "GeoJSon geometry",
                                            "externalDocs": {
                                              "url": "https://tools.ietf.org/html/rfc7946#section-3.1.7"
                                            },
                                            "allOf": [
                                              {
                                                "description": "Abstract type for all GeoJSon 'Geometry' object the type of which is not 'GeometryCollection'\n",
                                                "externalDocs": {
                                                  "url": "https://tools.ietf.org/html/rfc7946#section-3"
                                                },
                                                "allOf": [
                                                  {
                                                    "description": "Abstract type for all GeoJSon object except Feature and FeatureCollection\n",
                                                    "externalDocs": {
                                                      "url": "https://tools.ietf.org/html/rfc7946#section-3"
                                                    },
                                                    "allOf": [
                                                      {
                                                        "description": "GeoJSon object\nThe coordinate reference system for all GeoJSON coordinates is a geographic coordinate reference system, using the World Geodetic System 1984 (WGS 84) datum, with longitude and latitude units of decimal degrees. This is equivalent to the coordinate reference system identified by the Open Geospatial Consortium (OGC) URN An OPTIONAL third-position element SHALL be the height in meters above or below the WGS 84 reference ellipsoid. In the absence of elevation values, applications sensitive to height or depth SHOULD interpret positions as being at local ground or sea level.\n",
                                                        "externalDocs": {
                                                          "url": "https://tools.ietf.org/html/rfc7946#section-3"
                                                        },
                                                        "type": "object",
                                                        "properties": {
                                                          "type": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Feature",
                                                              "FeatureCollection",
                                                              "Point",
                                                              "MultiPoint",
                                                              "LineString",
                                                              "MultiLineString",
                                                              "Polygon",
                                                              "MultiPolygon",
                                                              "GeometryCollection"
                                                            ]
                                                          },
                                                          "bbox": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "number"
                                                            }
                                                          }
                                                        },
                                                        "required": [
                                                          "type"
                                                        ],
                                                        "discriminator": {
                                                          "propertyName": "type"
                                                        }
                                                      },
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "type": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Point",
                                                              "MultiPoint",
                                                              "LineString",
                                                              "MultiLineString",
                                                              "Polygon",
                                                              "MultiPolygon",
                                                              "GeometryCollection"
                                                            ]
                                                          }
                                                        },
                                                        "required": [
                                                          "type"
                                                        ],
                                                        "discriminator": {
                                                          "propertyName": "type"
                                                        }
                                                      }
                                                    ]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "type": {
                                                        "type": "string",
                                                        "enum": [
                                                          "Point",
                                                          "MultiPoint",
                                                          "LineString",
                                                          "MultiLineString",
                                                          "Polygon",
                                                          "MultiPolygon"
                                                        ]
                                                      }
                                                    },
                                                    "required": [
                                                      "type"
                                                    ],
                                                    "discriminator": {
                                                      "propertyName": "type"
                                                    }
                                                  }
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "required": [
                                                  "coordinates"
                                                ],
                                                "properties": {
                                                  "coordinates": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "array",
                                                      "items": {
                                                        "description": "A linear ring is a closed LineString with four or more positions.\nThe first and last positions are equivalent, and they MUST contain identical values; their representation SHOULD also be identical.\nA linear ring is the boundary of a surface or the boundary of a hole in a surface.\nA linear ring MUST follow the right-hand rule with respect to the area it bounds, i.e., exterior rings are counterclockwise, and holes are clockwise.\n",
                                                        "externalDocs": {
                                                          "url": "https://tools.ietf.org/html/rfc7946#section-3.1.6"
                                                        },
                                                        "type": "array",
                                                        "items": {
                                                          "description": "GeoJSon fundamental geometry construct.\nA position is an array of numbers. There MUST be two or more elements. The first two elements are longitude and latitude, or easting and northing, precisely in that order and using decimal numbers. Altitude or elevation MAY be included as an optional third element.\nImplementations SHOULD NOT extend positions beyond three elements because the semantics of extra elements are unspecified and ambiguous. Historically, some implementations have used a fourth element to carry a linear referencing measure (sometimes denoted as \"M\") or a numerical timestamp, but in most situations a parser will not be able to properly interpret these values. The interpretation and meaning of additional elements is beyond the scope of this specification, and additional elements MAY be ignored by parsers.\n",
                                                          "externalDocs": {
                                                            "url": "https://tools.ietf.org/html/rfc7946#section-3.1.1"
                                                          },
                                                          "type": "array",
                                                          "minItems": 2,
                                                          "maxItems": 3,
                                                          "items": {
                                                            "type": "number"
                                                          }
                                                        },
                                                        "minItems": 4
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            ]
                                          }
                                        ]
                                      }
                                    ]
                                  },
                                  "properties": {
                                    "type": "object",
                                    "properties": {
                                      "headline": {
                                        "type": "string",
                                        "description": "A human-friendly display address for the parcel. If no address is available, it falls back to the parcel number."
                                      },
                                      "path": {
                                        "type": "string",
                                        "description": "The parcel's unique identifier"
                                      },
                                      "fields": {
                                        "type": "object",
                                        "description": "Standard Schema keys and values. Columns from the parcel table. These include standard column names wherever fields are available, plus additional columns varying by the particular county & data available."
                                      },
                                      "field_labels": {
                                        "type": "object",
                                        "description": "Human-friendly labels for each key in fields"
                                      },
                                      "context": {
                                        "type": "object",
                                        "description": "A bit of info about the city or county where this parcel is found, including a path one can use as context for further searches."
                                      },
                                      "addresses": {
                                        "description": "Regrid Matched Addresses. This array is included in responses when an account has Matched Addresses enabled.",
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "a_id": {
                                              "type": "string"
                                            },
                                            "a_address": {
                                              "type": "string"
                                            },
                                            "a_saddno": {
                                              "type": "string"
                                            },
                                            "a_saddpref": {
                                              "type": "string"
                                            },
                                            "a_saddstr": {
                                              "type": "string"
                                            },
                                            "a_saddsttyp": {
                                              "type": "string"
                                            },
                                            "a_saddstsuf": {
                                              "type": "string",
                                              "format": "nullable"
                                            },
                                            "a_sunit": {
                                              "type": "string",
                                              "format": "nullable"
                                            },
                                            "a_szip5": {
                                              "type": "string"
                                            },
                                            "a_szip": {
                                              "type": "string"
                                            },
                                            "a_carte": {
                                              "type": "string"
                                            },
                                            "a_crtype": {
                                              "type": "string"
                                            },
                                            "a_scity": {
                                              "type": "string"
                                            },
                                            "a_state2": {
                                              "type": "string"
                                            },
                                            "a_county": {
                                              "type": "string"
                                            },
                                            "a_delvseqno": {
                                              "type": "string"
                                            },
                                            "a_usps_elotseq": {
                                              "type": "string"
                                            },
                                            "a_usps_elotsort": {
                                              "type": "string"
                                            },
                                            "a_resbus": {
                                              "type": "string"
                                            },
                                            "a_pmbdesc": {
                                              "type": "string",
                                              "format": "nullable"
                                            },
                                            "a_pmbno": {
                                              "type": "string",
                                              "format": "nullable"
                                            },
                                            "a_dpv_confirm": {
                                              "type": "string"
                                            },
                                            "a_dpv_footnotes": {
                                              "type": "string"
                                            },
                                            "a_default_match": {
                                              "type": "string"
                                            },
                                            "a_lacsflag": {
                                              "type": "string"
                                            },
                                            "a_usps_vacancy": {
                                              "type": "string"
                                            },
                                            "a_nostats": {
                                              "type": "string"
                                            },
                                            "a_error_code": {
                                              "type": "string"
                                            },
                                            "a_extrainfo": {
                                              "type": "string",
                                              "format": "nullable"
                                            },
                                            "a_dpv_type": {
                                              "type": "string"
                                            },
                                            "a_geocodetype": {
                                              "type": "string"
                                            },
                                            "a_moddate": {
                                              "type": "string"
                                            },
                                            "a_census_blockgroup": {
                                              "type": "string"
                                            },
                                            "a_lat": {
                                              "type": "string"
                                            },
                                            "a_lon": {
                                              "type": "string"
                                            },
                                            "a_geoid": {
                                              "type": "string"
                                            },
                                            "ll_uuid": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      },
                                      "ll_uuid": {
                                        "type": "string"
                                      },
                                      "score": {
                                        "type": "number",
                                        "example": 86.75966
                                      }
                                    }
                                  },
                                  "id": {
                                    "type": "integer"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "buildings": {
                          "description": "Matched buildings are returned when supported by an account.",
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "FeatureCollection"
                            },
                            "features": {
                              "type": "array",
                              "items": {
                                "externalDocs": {
                                  "description": "Buildings schema",
                                  "url": "https://support.regrid.com/articles/buildings-schema"
                                },
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "Feature"
                                  },
                                  "geometry": {
                                    "allOf": [
                                      {
                                        "nullable": true
                                      },
                                      {
                                        "anyOf": [
                                          {
                                            "description": "GeoJSon geometry",
                                            "externalDocs": {
                                              "url": "https://tools.ietf.org/html/rfc7946#section-3.1.6"
                                            },
                                            "allOf": [
                                              {
                                                "description": "Abstract type for all GeoJSon 'Geometry' object the type of which is not 'GeometryCollection'\n",
                                                "externalDocs": {
                                                  "url": "https://tools.ietf.org/html/rfc7946#section-3"
                                                },
                                                "allOf": [
                                                  {
                                                    "description": "Abstract type for all GeoJSon object except Feature and FeatureCollection\n",
                                                    "externalDocs": {
                                                      "url": "https://tools.ietf.org/html/rfc7946#section-3"
                                                    },
                                                    "allOf": [
                                                      {
                                                        "description": "GeoJSon object\nThe coordinate reference system for all GeoJSON coordinates is a geographic coordinate reference system, using the World Geodetic System 1984 (WGS 84) datum, with longitude and latitude units of decimal degrees. This is equivalent to the coordinate reference system identified by the Open Geospatial Consortium (OGC) URN An OPTIONAL third-position element SHALL be the height in meters above or below the WGS 84 reference ellipsoid. In the absence of elevation values, applications sensitive to height or depth SHOULD interpret positions as being at local ground or sea level.\n",
                                                        "externalDocs": {
                                                          "url": "https://tools.ietf.org/html/rfc7946#section-3"
                                                        },
                                                        "type": "object",
                                                        "properties": {
                                                          "type": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Feature",
                                                              "FeatureCollection",
                                                              "Point",
                                                              "MultiPoint",
                                                              "LineString",
                                                              "MultiLineString",
                                                              "Polygon",
                                                              "MultiPolygon",
                                                              "GeometryCollection"
                                                            ]
                                                          },
                                                          "bbox": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "number"
                                                            }
                                                          }
                                                        },
                                                        "required": [
                                                          "type"
                                                        ],
                                                        "discriminator": {
                                                          "propertyName": "type"
                                                        }
                                                      },
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "type": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Point",
                                                              "MultiPoint",
                                                              "LineString",
                                                              "MultiLineString",
                                                              "Polygon",
                                                              "MultiPolygon",
                                                              "GeometryCollection"
                                                            ]
                                                          }
                                                        },
                                                        "required": [
                                                          "type"
                                                        ],
                                                        "discriminator": {
                                                          "propertyName": "type"
                                                        }
                                                      }
                                                    ]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "type": {
                                                        "type": "string",
                                                        "enum": [
                                                          "Point",
                                                          "MultiPoint",
                                                          "LineString",
                                                          "MultiLineString",
                                                          "Polygon",
                                                          "MultiPolygon"
                                                        ]
                                                      }
                                                    },
                                                    "required": [
                                                      "type"
                                                    ],
                                                    "discriminator": {
                                                      "propertyName": "type"
                                                    }
                                                  }
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "required": [
                                                  "coordinates"
                                                ],
                                                "properties": {
                                                  "coordinates": {
                                                    "type": "array",
                                                    "items": {
                                                      "description": "A linear ring is a closed LineString with four or more positions.\nThe first and last positions are equivalent, and they MUST contain identical values; their representation SHOULD also be identical.\nA linear ring is the boundary of a surface or the boundary of a hole in a surface.\nA linear ring MUST follow the right-hand rule with respect to the area it bounds, i.e., exterior rings are counterclockwise, and holes are clockwise.\n",
                                                      "externalDocs": {
                                                        "url": "https://tools.ietf.org/html/rfc7946#section-3.1.6"
                                                      },
                                                      "type": "array",
                                                      "items": {
                                                        "description": "GeoJSon fundamental geometry construct.\nA position is an array of numbers. There MUST be two or more elements. The first two elements are longitude and latitude, or easting and northing, precisely in that order and using decimal numbers. Altitude or elevation MAY be included as an optional third element.\nImplementations SHOULD NOT extend positions beyond three elements because the semantics of extra elements are unspecified and ambiguous. Historically, some implementations have used a fourth element to carry a linear referencing measure (sometimes denoted as \"M\") or a numerical timestamp, but in most situations a parser will not be able to properly interpret these values. The interpretation and meaning of additional elements is beyond the scope of this specification, and additional elements MAY be ignored by parsers.\n",
                                                        "externalDocs": {
                                                          "url": "https://tools.ietf.org/html/rfc7946#section-3.1.1"
                                                        },
                                                        "type": "array",
                                                        "minItems": 2,
                                                        "maxItems": 3,
                                                        "items": {
                                                          "type": "number"
                                                        }
                                                      },
                                                      "minItems": 4
                                                    }
                                                  }
                                                }
                                              }
                                            ]
                                          },
                                          {
                                            "description": "GeoJSon geometry",
                                            "externalDocs": {
                                              "url": "https://tools.ietf.org/html/rfc7946#section-3.1.7"
                                            },
                                            "allOf": [
                                              {
                                                "description": "Abstract type for all GeoJSon 'Geometry' object the type of which is not 'GeometryCollection'\n",
                                                "externalDocs": {
                                                  "url": "https://tools.ietf.org/html/rfc7946#section-3"
                                                },
                                                "allOf": [
                                                  {
                                                    "description": "Abstract type for all GeoJSon object except Feature and FeatureCollection\n",
                                                    "externalDocs": {
                                                      "url": "https://tools.ietf.org/html/rfc7946#section-3"
                                                    },
                                                    "allOf": [
                                                      {
                                                        "description": "GeoJSon object\nThe coordinate reference system for all GeoJSON coordinates is a geographic coordinate reference system, using the World Geodetic System 1984 (WGS 84) datum, with longitude and latitude units of decimal degrees. This is equivalent to the coordinate reference system identified by the Open Geospatial Consortium (OGC) URN An OPTIONAL third-position element SHALL be the height in meters above or below the WGS 84 reference ellipsoid. In the absence of elevation values, applications sensitive to height or depth SHOULD interpret positions as being at local ground or sea level.\n",
                                                        "externalDocs": {
                                                          "url": "https://tools.ietf.org/html/rfc7946#section-3"
                                                        },
                                                        "type": "object",
                                                        "properties": {
                                                          "type": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Feature",
                                                              "FeatureCollection",
                                                              "Point",
                                                              "MultiPoint",
                                                              "LineString",
                                                              "MultiLineString",
                                                              "Polygon",
                                                              "MultiPolygon",
                                                              "GeometryCollection"
                                                            ]
                                                          },
                                                          "bbox": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "number"
                                                            }
                                                          }
                                                        },
                                                        "required": [
                                                          "type"
                                                        ],
                                                        "discriminator": {
                                                          "propertyName": "type"
                                                        }
                                                      },
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "type": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Point",
                                                              "MultiPoint",
                                                              "LineString",
                                                              "MultiLineString",
                                                              "Polygon",
                                                              "MultiPolygon",
                                                              "GeometryCollection"
                                                            ]
                                                          }
                                                        },
                                                        "required": [
                                                          "type"
                                                        ],
                                                        "discriminator": {
                                                          "propertyName": "type"
                                                        }
                                                      }
                                                    ]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "type": {
                                                        "type": "string",
                                                        "enum": [
                                                          "Point",
                                                          "MultiPoint",
                                                          "LineString",
                                                          "MultiLineString",
                                                          "Polygon",
                                                          "MultiPolygon"
                                                        ]
                                                      }
                                                    },
                                                    "required": [
                                                      "type"
                                                    ],
                                                    "discriminator": {
                                                      "propertyName": "type"
                                                    }
                                                  }
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "required": [
                                                  "coordinates"
                                                ],
                                                "properties": {
                                                  "coordinates": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "array",
                                                      "items": {
                                                        "description": "A linear ring is a closed LineString with four or more positions.\nThe first and last positions are equivalent, and they MUST contain identical values; their representation SHOULD also be identical.\nA linear ring is the boundary of a surface or the boundary of a hole in a surface.\nA linear ring MUST follow the right-hand rule with respect to the area it bounds, i.e., exterior rings are counterclockwise, and holes are clockwise.\n",
                                                        "externalDocs": {
                                                          "url": "https://tools.ietf.org/html/rfc7946#section-3.1.6"
                                                        },
                                                        "type": "array",
                                                        "items": {
                                                          "description": "GeoJSon fundamental geometry construct.\nA position is an array of numbers. There MUST be two or more elements. The first two elements are longitude and latitude, or easting and northing, precisely in that order and using decimal numbers. Altitude or elevation MAY be included as an optional third element.\nImplementations SHOULD NOT extend positions beyond three elements because the semantics of extra elements are unspecified and ambiguous. Historically, some implementations have used a fourth element to carry a linear referencing measure (sometimes denoted as \"M\") or a numerical timestamp, but in most situations a parser will not be able to properly interpret these values. The interpretation and meaning of additional elements is beyond the scope of this specification, and additional elements MAY be ignored by parsers.\n",
                                                          "externalDocs": {
                                                            "url": "https://tools.ietf.org/html/rfc7946#section-3.1.1"
                                                          },
                                                          "type": "array",
                                                          "minItems": 2,
                                                          "maxItems": 3,
                                                          "items": {
                                                            "type": "number"
                                                          }
                                                        },
                                                        "minItems": 4
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            ]
                                          }
                                        ]
                                      }
                                    ]
                                  },
                                  "properties": {
                                    "type": "object",
                                    "properties": {
                                      "ed_str_uuid": {
                                        "description": "Universally Unique ID of the entire structure",
                                        "type": "string"
                                      },
                                      "ed_bld_uuid": {
                                        "description": "Universal Unique ID of the building extracted from the structure",
                                        "type": "string"
                                      },
                                      "ed_geoid": {
                                        "description": "County FIPS code",
                                        "type": "string"
                                      },
                                      "ed_lat": {
                                        "description": "Latitude of a point in the shape, typically the centroid",
                                        "type": "number"
                                      },
                                      "ed_lon": {
                                        "description": "Longitude of a point in the shape, typically the centroid",
                                        "type": "number"
                                      },
                                      "ed_bldg_footprint_sqft": {
                                        "description": "Building footprint area in square feet",
                                        "type": "number"
                                      },
                                      "ed_largest": {
                                        "description": "An indicator of the largest building on a parcel",
                                        "type": "number"
                                      },
                                      "ed_source": {
                                        "description": "Source of the building footprint",
                                        "type": "string"
                                      },
                                      "ed_source_date": {
                                        "description": "Date of the building source imagery formatted as MM/DD/YYYY",
                                        "type": "string"
                                      },
                                      "ll_uuids": {
                                        "description": "Uniquely identifies a single parcel",
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "ed_mean_height": {
                                        "description": "Mean height of the structure in feet. Available with Matched Building Footprints with Height Addon.",
                                        "type": "number"
                                      },
                                      "ed_max_object_height": {
                                        "description": "Maximum height of the structure in ft, excluding potential clutter like an antenna, overhanging tree, etc.. Available with Matched Building Footprints with Height Addon.",
                                        "type": "number"
                                      },
                                      "ed_lag": {
                                        "description": "Lowest Adjacent Grade - lowest observed ground elevation above sea level around the boundary of the building. Available with Matched Building Footprints with Height Addon.",
                                        "type": "number"
                                      },
                                      "ed_hag": {
                                        "description": "Highest Adjacent Grade - highest observed ground elevation above sea level around the boundary of the building. Available with Matched Building Footprints with Height Addon.",
                                        "type": "number"
                                      },
                                      "ed_mean_elevation": {
                                        "type": "number",
                                        "description": "Mean ground elevation in ft under the structure footprint. Available with Matched Building Footprints with Height Addon."
                                      },
                                      "ed_mean_slope": {
                                        "description": "Mean roof slope. Available with Matched Building Footprints with Height Addon.",
                                        "type": "integer"
                                      },
                                      "ed_stories": {
                                        "description": "Estimated number of stories based on building height. Available with Matched Building Footprints with Height Addon.",
                                        "type": "integer"
                                      },
                                      "ed_gross_area": {
                                        "description": "Estimated area of the building based on stories and square footage of the polygon. Available with Matched Building Footprints with Height Addon.",
                                        "type": "number"
                                      },
                                      "ed_volume": {
                                        "description": "Volume of the building based on square footage and the mean height of the polygon in cubic feet. Available with Matched Building Footprints with Height Addon.",
                                        "type": "number"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "zoning": {
                          "description": "Zoning details are returned when supported by an account.",
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "FeatureCollection"
                            },
                            "features": {
                              "type": "array",
                              "items": {
                                "externalDocs": {
                                  "description": "Zoning schema",
                                  "url": "https://regrid.com/zoning"
                                },
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "Feature"
                                  },
                                  "geometry": {
                                    "allOf": [
                                      {
                                        "nullable": true
                                      },
                                      {
                                        "anyOf": [
                                          {
                                            "description": "GeoJSon geometry",
                                            "externalDocs": {
                                              "url": "https://tools.ietf.org/html/rfc7946#section-3.1.6"
                                            },
                                            "allOf": [
                                              {
                                                "description": "Abstract type for all GeoJSon 'Geometry' object the type of which is not 'GeometryCollection'\n",
                                                "externalDocs": {
                                                  "url": "https://tools.ietf.org/html/rfc7946#section-3"
                                                },
                                                "allOf": [
                                                  {
                                                    "description": "Abstract type for all GeoJSon object except Feature and FeatureCollection\n",
                                                    "externalDocs": {
                                                      "url": "https://tools.ietf.org/html/rfc7946#section-3"
                                                    },
                                                    "allOf": [
                                                      {
                                                        "description": "GeoJSon object\nThe coordinate reference system for all GeoJSON coordinates is a geographic coordinate reference system, using the World Geodetic System 1984 (WGS 84) datum, with longitude and latitude units of decimal degrees. This is equivalent to the coordinate reference system identified by the Open Geospatial Consortium (OGC) URN An OPTIONAL third-position element SHALL be the height in meters above or below the WGS 84 reference ellipsoid. In the absence of elevation values, applications sensitive to height or depth SHOULD interpret positions as being at local ground or sea level.\n",
                                                        "externalDocs": {
                                                          "url": "https://tools.ietf.org/html/rfc7946#section-3"
                                                        },
                                                        "type": "object",
                                                        "properties": {
                                                          "type": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Feature",
                                                              "FeatureCollection",
                                                              "Point",
                                                              "MultiPoint",
                                                              "LineString",
                                                              "MultiLineString",
                                                              "Polygon",
                                                              "MultiPolygon",
                                                              "GeometryCollection"
                                                            ]
                                                          },
                                                          "bbox": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "number"
                                                            }
                                                          }
                                                        },
                                                        "required": [
                                                          "type"
                                                        ],
                                                        "discriminator": {
                                                          "propertyName": "type"
                                                        }
                                                      },
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "type": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Point",
                                                              "MultiPoint",
                                                              "LineString",
                                                              "MultiLineString",
                                                              "Polygon",
                                                              "MultiPolygon",
                                                              "GeometryCollection"
                                                            ]
                                                          }
                                                        },
                                                        "required": [
                                                          "type"
                                                        ],
                                                        "discriminator": {
                                                          "propertyName": "type"
                                                        }
                                                      }
                                                    ]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "type": {
                                                        "type": "string",
                                                        "enum": [
                                                          "Point",
                                                          "MultiPoint",
                                                          "LineString",
                                                          "MultiLineString",
                                                          "Polygon",
                                                          "MultiPolygon"
                                                        ]
                                                      }
                                                    },
                                                    "required": [
                                                      "type"
                                                    ],
                                                    "discriminator": {
                                                      "propertyName": "type"
                                                    }
                                                  }
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "required": [
                                                  "coordinates"
                                                ],
                                                "properties": {
                                                  "coordinates": {
                                                    "type": "array",
                                                    "items": {
                                                      "description": "A linear ring is a closed LineString with four or more positions.\nThe first and last positions are equivalent, and they MUST contain identical values; their representation SHOULD also be identical.\nA linear ring is the boundary of a surface or the boundary of a hole in a surface.\nA linear ring MUST follow the right-hand rule with respect to the area it bounds, i.e., exterior rings are counterclockwise, and holes are clockwise.\n",
                                                      "externalDocs": {
                                                        "url": "https://tools.ietf.org/html/rfc7946#section-3.1.6"
                                                      },
                                                      "type": "array",
                                                      "items": {
                                                        "description": "GeoJSon fundamental geometry construct.\nA position is an array of numbers. There MUST be two or more elements. The first two elements are longitude and latitude, or easting and northing, precisely in that order and using decimal numbers. Altitude or elevation MAY be included as an optional third element.\nImplementations SHOULD NOT extend positions beyond three elements because the semantics of extra elements are unspecified and ambiguous. Historically, some implementations have used a fourth element to carry a linear referencing measure (sometimes denoted as \"M\") or a numerical timestamp, but in most situations a parser will not be able to properly interpret these values. The interpretation and meaning of additional elements is beyond the scope of this specification, and additional elements MAY be ignored by parsers.\n",
                                                        "externalDocs": {
                                                          "url": "https://tools.ietf.org/html/rfc7946#section-3.1.1"
                                                        },
                                                        "type": "array",
                                                        "minItems": 2,
                                                        "maxItems": 3,
                                                        "items": {
                                                          "type": "number"
                                                        }
                                                      },
                                                      "minItems": 4
                                                    }
                                                  }
                                                }
                                              }
                                            ]
                                          },
                                          {
                                            "description": "GeoJSon geometry",
                                            "externalDocs": {
                                              "url": "https://tools.ietf.org/html/rfc7946#section-3.1.7"
                                            },
                                            "allOf": [
                                              {
                                                "description": "Abstract type for all GeoJSon 'Geometry' object the type of which is not 'GeometryCollection'\n",
                                                "externalDocs": {
                                                  "url": "https://tools.ietf.org/html/rfc7946#section-3"
                                                },
                                                "allOf": [
                                                  {
                                                    "description": "Abstract type for all GeoJSon object except Feature and FeatureCollection\n",
                                                    "externalDocs": {
                                                      "url": "https://tools.ietf.org/html/rfc7946#section-3"
                                                    },
                                                    "allOf": [
                                                      {
                                                        "description": "GeoJSon object\nThe coordinate reference system for all GeoJSON coordinates is a geographic coordinate reference system, using the World Geodetic System 1984 (WGS 84) datum, with longitude and latitude units of decimal degrees. This is equivalent to the coordinate reference system identified by the Open Geospatial Consortium (OGC) URN An OPTIONAL third-position element SHALL be the height in meters above or below the WGS 84 reference ellipsoid. In the absence of elevation values, applications sensitive to height or depth SHOULD interpret positions as being at local ground or sea level.\n",
                                                        "externalDocs": {
                                                          "url": "https://tools.ietf.org/html/rfc7946#section-3"
                                                        },
                                                        "type": "object",
                                                        "properties": {
                                                          "type": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Feature",
                                                              "FeatureCollection",
                                                              "Point",
                                                              "MultiPoint",
                                                              "LineString",
                                                              "MultiLineString",
                                                              "Polygon",
                                                              "MultiPolygon",
                                                              "GeometryCollection"
                                                            ]
                                                          },
                                                          "bbox": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "number"
                                                            }
                                                          }
                                                        },
                                                        "required": [
                                                          "type"
                                                        ],
                                                        "discriminator": {
                                                          "propertyName": "type"
                                                        }
                                                      },
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "type": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Point",
                                                              "MultiPoint",
                                                              "LineString",
                                                              "MultiLineString",
                                                              "Polygon",
                                                              "MultiPolygon",
                                                              "GeometryCollection"
                                                            ]
                                                          }
                                                        },
                                                        "required": [
                                                          "type"
                                                        ],
                                                        "discriminator": {
                                                          "propertyName": "type"
                                                        }
                                                      }
                                                    ]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "type": {
                                                        "type": "string",
                                                        "enum": [
                                                          "Point",
                                                          "MultiPoint",
                                                          "LineString",
                                                          "MultiLineString",
                                                          "Polygon",
                                                          "MultiPolygon"
                                                        ]
                                                      }
                                                    },
                                                    "required": [
                                                      "type"
                                                    ],
                                                    "discriminator": {
                                                      "propertyName": "type"
                                                    }
                                                  }
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "required": [
                                                  "coordinates"
                                                ],
                                                "properties": {
                                                  "coordinates": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "array",
                                                      "items": {
                                                        "description": "A linear ring is a closed LineString with four or more positions.\nThe first and last positions are equivalent, and they MUST contain identical values; their representation SHOULD also be identical.\nA linear ring is the boundary of a surface or the boundary of a hole in a surface.\nA linear ring MUST follow the right-hand rule with respect to the area it bounds, i.e., exterior rings are counterclockwise, and holes are clockwise.\n",
                                                        "externalDocs": {
                                                          "url": "https://tools.ietf.org/html/rfc7946#section-3.1.6"
                                                        },
                                                        "type": "array",
                                                        "items": {
                                                          "description": "GeoJSon fundamental geometry construct.\nA position is an array of numbers. There MUST be two or more elements. The first two elements are longitude and latitude, or easting and northing, precisely in that order and using decimal numbers. Altitude or elevation MAY be included as an optional third element.\nImplementations SHOULD NOT extend positions beyond three elements because the semantics of extra elements are unspecified and ambiguous. Historically, some implementations have used a fourth element to carry a linear referencing measure (sometimes denoted as \"M\") or a numerical timestamp, but in most situations a parser will not be able to properly interpret these values. The interpretation and meaning of additional elements is beyond the scope of this specification, and additional elements MAY be ignored by parsers.\n",
                                                          "externalDocs": {
                                                            "url": "https://tools.ietf.org/html/rfc7946#section-3.1.1"
                                                          },
                                                          "type": "array",
                                                          "minItems": 2,
                                                          "maxItems": 3,
                                                          "items": {
                                                            "type": "number"
                                                          }
                                                        },
                                                        "minItems": 4
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            ]
                                          }
                                        ]
                                      }
                                    ]
                                  },
                                  "properties": {
                                    "type": "object",
                                    "properties": {
                                      "ogc_fid": {
                                        "type": "integer"
                                      },
                                      "zoning_id": {
                                        "type": "integer"
                                      },
                                      "municipality_id": {
                                        "type": "integer"
                                      },
                                      "municipality_name": {
                                        "type": "string"
                                      },
                                      "zoning": {
                                        "type": "string"
                                      },
                                      "zoning_description": {
                                        "type": "string"
                                      },
                                      "zoning_type": {
                                        "type": "string"
                                      },
                                      "zoning_subtype": {
                                        "type": "string"
                                      },
                                      "zoning_guide": {
                                        "type": "string"
                                      },
                                      "zoning_code_link": {
                                        "type": "string",
                                        "format": "uri"
                                      },
                                      "land_use_flags_permitted": {
                                        "type": "string"
                                      },
                                      "land_use_flags_conditional": {
                                        "type": "string"
                                      },
                                      "landuse_classes": {
                                        "type": "object",
                                        "additionalProperties": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "min_lot_area_sq_ft": {
                                        "type": "number"
                                      },
                                      "min_lot_width_ft": {
                                        "type": "number"
                                      },
                                      "max_building_height_ft": {
                                        "type": "number"
                                      },
                                      "max_far": {
                                        "type": "number"
                                      },
                                      "max_coverage_pct": {
                                        "type": "number"
                                      },
                                      "min_front_setback_ft": {
                                        "type": "number"
                                      },
                                      "min_rear_setback_ft": {
                                        "type": "number"
                                      },
                                      "max_impervious_coverage_pct": {
                                        "type": "number"
                                      },
                                      "min_side_setback_ft": {
                                        "type": "number"
                                      },
                                      "min_landscaped_space_pct": {
                                        "type": "number"
                                      },
                                      "min_open_space_pct": {
                                        "type": "number"
                                      },
                                      "max_density_du_per_acre": {
                                        "type": "number"
                                      },
                                      "zoning_data_date": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "An access token is required."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Search by"
        ],
        "summary": "Point - Latitude and Longitude",
[...]
